%p#notice= notice

%p
  %b Name:
  = @example.name
  %br
  %b React Component Name:
  = @example.react_component_name
  %br
  %br
  - if @example.name == 'Simple Link Example'
    %div{ id: @example.name.gsub!(/( )/, '_').downcase! }
  - else
    = react_component(@example.react_component_name, {}, {class: "container"})
  %br
  %br
  -# - file_name = Rails.root.join('app', 'assets', 'javascripts', 'examples', "example_#{@example.id}.coffee")
  -# = File.read(file_name)

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path
